n8n-workflows/Workflow 1_ Generate Tasks.json
{
  "name": "Workflow 1: Generate Tasks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-tasks",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        144
      ],
      "id": "7fade43b-3a78-4bc8-b9f1-872481bb2635",
      "name": "Webhook",
      "webhookId": "6aa7af0d-396a-4fa3-9fab-f353d95d5701"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tasks\nWHERE user_id = '{{ $json.body.user_id }}'\n  AND DATE(created_at) = CURRENT_DATE\nORDER BY created_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -352,
        144
      ],
      "id": "7f416075-aa33-4205-b1a5-85e18b580b90",
      "name": "Check Existing Tasks",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hynLF0TmxXH71HPT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.all().map(item => ({\n  id: item.json.id,\n  user_id: item.json.user_id,\n  task_type: item.json.task_type,\n  content: item.json.content,\n  status: item.json.status,\n  due_date: item.json.due_date,\n  skipped: item.json.skipped || false,\n  created_at: item.json.created_at,\n  updated_at: item.json.updated_at\n}));\n\nreturn {\n  success: true,\n  tasks_generated: tasks.length,\n  tasks: tasks,\n  estimated_minutes: tasks.length * 3,\n  message: '今日任務已存在'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        160
      ],
      "id": "3c3c1ea2-2ea6-4739-af74-f593fe3711d7",
      "name": "Format Existing Tasks"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_progress",
        "filterType": "string",
        "filterString": "=user_id=eq.{{ $('Webhook').item.json.body.user_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        144,
        -272
      ],
      "id": "ab9871b0-0510-4e0a-8454-49b6ffc8da36",
      "name": "Query - User Progress",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RculhUeb6L26Iaph",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ls.id, ls.name, ls.kana_data\nFROM learning_stages ls\nJOIN user_progress up ON ls.id = up.current_stage_id + 1\nWHERE up.user_id = '{{ $('Webhook').item.json.body.user_id }}'\n  AND ls.id <= 10\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        -448
      ],
      "id": "32386adc-bc30-4c50-a5a5-4feba2815e80",
      "name": "Query - Next Stage",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "hynLF0TmxXH71HPT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT kp.kana, kp.romaji, kp.mastery_score, kp.last_reviewed\nFROM kana_progress kp\nWHERE kp.user_id = '{{ $('Webhook').item.json.body.user_id }}'\n  AND kp.next_review <= NOW()\n  AND kp.status IN ('learning', 'reviewing')\nORDER BY kp.last_reviewed ASC NULLS FIRST\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        -32
      ],
      "id": "26659e44-1fc0-4b07-91c9-daffc7f23770",
      "name": "Query - Review Items",
      "credentials": {
        "postgres": {
          "id": "hynLF0TmxXH71HPT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stageData = $input.first()?.json;\n\n// 如果沒有下一階段數據 (已完成所有階段)\nif (!stageData || !stageData.kana_data) {\n  return {\n    json: {\n      newKana: [],\n      hasNewKana: false,\n      message: '已完成所有學習階段'\n    }\n  };\n}\n\n// 下一階段的所有假名\nconst allKana = stageData.kana_data || [];\n\nreturn {\n  json: {\n    newKana: allKana,\n    hasNewKana: allKana.length > 0,\n    stageName: stageData.name\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -448
      ],
      "id": "bb96b432-7e64-434d-b43f-465fe3ea2e76",
      "name": "Code - Select New Kana"
    },
    {
      "parameters": {
        "jsCode": "const reviewItems = $input.all();\n\n// 如果沒有複習項目,返回空數組\nif (!reviewItems || reviewItems.length === 0) {\n  return { json: { reviewKana: [], hasReview: false } };\n}\n\n// 提取假名信息\nconst reviewKana = reviewItems.map(item => ({\n  kana: item.json.kana,\n  romaji: item.json.romaji\n}));\n\nreturn {\n  json: {\n    reviewKana: reviewKana,\n    hasReview: true\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -32
      ],
      "id": "09615011-c472-48e0-8a51-a4fb155543d0",
      "name": "Code - Prepare Review"
    },
    {
      "parameters": {
        "jsCode": "// 獲取數據\nconst reviewData = $('Code - Prepare Review').first().json;\nconst learnData = $('Code - Select New Kana').first().json;\nconst userId = $('Webhook').first().json.body.user_id;\nconst dueDate = new Date().toISOString().split('T')[0];\nconst now = new Date().toISOString();\n\nconst tasks = [];\n\n// 1. 生成複習任務 (如果有待複習項目)\nif (reviewData.hasReview && reviewData.reviewKana.length > 0) {\n  tasks.push({\n    user_id: userId,\n    task_type: 'kana_review',\n    content: JSON.stringify({\n      review_kana: reviewData.reviewKana,\n      kana_type: 'hiragana'\n    }),\n    status: 'pending',\n    due_date: dueDate,\n    skipped: false,\n    created_at: now,\n    updated_at: now\n  });\n  console.log(`✅ 生成複習任務: ${reviewData.reviewKana.length} 個假名`);\n}\n\n// 2. 生成學習任務 (如果有新假名)\nif (learnData.hasNewKana && learnData.newKana.length > 0) {\n  tasks.push({\n    user_id: userId,\n    task_type: 'kana_learn',\n    content: JSON.stringify({\n      kana_list: learnData.newKana,\n      kana_type: 'hiragana'\n    }),\n    status: 'pending',\n    due_date: dueDate,\n    skipped: false,\n    created_at: now,\n    updated_at: now\n  });\n  console.log(`✅ 生成學習任務: ${learnData.newKana.length} 個假名`);\n}\n\n// 如果沒有任何任務,返回空數組\nif (tasks.length === 0) {\n  console.log('⚠️ 沒有需要生成的任務');\n}\n\nreturn tasks.map(task => ({ json: task }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -256
      ],
      "id": "18a9e9a3-4bff-4a9a-926a-a42995d306a4",
      "name": "Code - Build Tasks"
    },
    {
      "parameters": {
        "operation": "insert"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        -256
      ],
      "id": "c07d5cba-50d9-4a88-a7df-ead5ae5151bf",
      "name": "Insert Tasks",
      "credentials": {
        "supabaseApi": {
          "id": "RculhUeb6L26Iaph",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const learnData = $('Code - Select New Kana').first().json;\nconst userId = $('Webhook').first().json.body.user_id;\nconst now = new Date().toISOString();\n\n// 為新學習的假名創建 kana_progress 記錄\nconst progressRecords = [];\n\nif (learnData.hasNewKana && learnData.newKana.length > 0) {\n  for (const kanaObj of learnData.newKana) {\n    progressRecords.push({\n      user_id: userId,\n      kana: kanaObj.kana,\n      romaji: kanaObj.romaji,\n      status: 'learning',\n      mastery_score: 0,\n      last_reviewed: now,\n      next_review: now,\n      review_count: 0,\n      created_at: now,\n      updated_at: now\n    });\n  }\n}\n\nif (progressRecords.length === 0) {\n  return [];\n}\n\nreturn progressRecords.map(record => ({ json: record }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -448
      ],
      "id": "f4c5c1b9-17e5-438c-badc-0b75f1172e1e",
      "name": "Code - Build Progress Records"
    },
    {
      "parameters": {
        "operation": "insert"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        -448
      ],
      "id": "bd34dbab-2ad3-4ea7-8f00-f105609dffc6",
      "name": "Insert Kana Progress",
      "credentials": {
        "supabaseApi": {
          "id": "RculhUeb6L26Iaph",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE kana_progress\nSET \n  last_reviewed = NOW(),\n  next_review = NOW() + INTERVAL '3 days',\n  updated_at = NOW()\nWHERE user_id = '{{ $('Webhook').item.json.body.user_id }}'\n  AND kana IN (\n    {{ $('Code - Prepare Review').item.json.reviewKana.map(k => \"'\" + k.kana + \"'\").join(',') }}\n  );",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        -48
      ],
      "id": "3008ec8a-0705-4d51-ae90-d01c4d848620",
      "name": "Update Review Timestamps",
      "credentials": {
        "postgres": {
          "id": "hynLF0TmxXH71HPT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tasks\nWHERE user_id = '{{ $('Webhook').item.json.body.user_id }}'\n  AND DATE(created_at) = CURRENT_DATE\nORDER BY created_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1824,
        -256
      ],
      "id": "2773739a-e5da-4141-b060-ecb63ccd3f02",
      "name": "Query All Tasks",
      "credentials": {
        "postgres": {
          "id": "hynLF0TmxXH71HPT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2288,
        160
      ],
      "id": "a807186d-23f4-4f5d-98bc-50bc97477557",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ca84bb67-0f68-4c5d-a16d-5f550313c3ba",
              "leftValue": "={{ $('Check Existing Tasks').first().json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -80,
        144
      ],
      "id": "a40ea830-c219-49fb-9978-a509e35b1c9c",
      "name": "IF - Has No Tasks"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Existing Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Tasks": {
      "main": [
        [
          {
            "node": "IF - Has No Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Existing Tasks": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query - User Progress": {
      "main": [
        [
          {
            "node": "Query - Next Stage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query - Review Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query - Next Stage": {
      "main": [
        [
          {
            "node": "Code - Select New Kana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query - Review Items": {
      "main": [
        [
          {
            "node": "Code - Prepare Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Select New Kana": {
      "main": [
        [
          {
            "node": "Code - Build Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Build Progress Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Review": {
      "main": [
        [
          {
            "node": "Code - Build Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Review Timestamps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Tasks": {
      "main": [
        [
          {
            "node": "Insert Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Tasks": {
      "main": [
        [
          {
            "node": "Query All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Progress Records": {
      "main": [
        [
          {
            "node": "Insert Kana Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Kana Progress": {
      "main": [
        [
          {
            "node": "Query All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Review Timestamps": {
      "main": [
        [
          {
            "node": "Query All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query All Tasks": {
      "main": [
        [
          {
            "node": "Format Existing Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has No Tasks": {
      "main": [
        [
          {
            "node": "Query - User Progress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Existing Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8c6479b1-c141-4c30-a9ac-cbe2c5260c61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd9282013e8dda099718f0b96696ffc2c8915d0a6f6124fc502a7eff313b0320"
  },
  "id": "bCvv3KeKH_JSj4qGOgaQt",
  "tags": []
}